%list {
  margin: 0;
  padding: 0;
  list-style: none;
}

%link {
  text-decoration: none;
}

%button {
  border: none;
}

.isHiden {
  display: none;
}

.isOpacity {
  opacity: 0;
}
