.today__tempr-container {
  margin-bottom: 30px;
  padding: 30px 60px;
  border-radius: 35px;
  background-color: rgba(16, 33, 54, 0.59);
  color: rgb(88, 100, 115);

  &:hover {
    background-color: rgb(16, 33, 54);
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding: 30px 170px;
    margin-bottom: 48px;
  }
  @media screen and (min-width: 1280px) {
    padding: 30px 170px;
    margin-bottom: 30px;
  }
}
