{{#each this}}
<li class="slider__item">
    <div class="slider__item-container">
        <p class="slider__item-city">{{this}}</p>
        <button type="button" class="slider__item-del-btn">
        </button>
    </div>
</li>
{{/each}}