<li class="slider-list__item">
    <div class="slider-list__container">
        <p class="slider-list__city">{{this}}</p>
        <button type="button" class="slider-list__del-btn">
        </button>
    </div>
</li>