.fiveDays__tempr-descr {
  font-size: 12px;
  font-family: 'Lato';
  color: rgba(255, 255, 255, 0.541);
  line-height: 0.8;
  vertical-align: top;
  margin-bottom: 5px;
  text-align: center;

  @media (min-width: 768px) and (max-width: 1279px) {
    font-size: 14px;
    margin-bottom: 10px;
  }

  @media (min-width: 1280px) {
    font-size: 18px;
    margin-bottom: 15px;
  }
}
