.fiveDays__item {
  list-style: none;
  width: 55px;

  &:not(:last-child) {
    margin-right: 25px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    width: 75px;
    &:not(:last-child) {
      margin-right: 0px;
    }
  }

  @media (min-width: 1280px) {
    width: 105px;
    &:not(:last-child) {
      margin-right: 0px;
    }
  }
}
