.fiveDays__wrapper {
  margin: 0 auto 28px;
  border-radius: 35px;
  background-color: rgba(16, 33, 54, 0.8);
  box-shadow: 0px 8px 43px 0px rgba(16, 33, 54, 0.59);
  @media screen and (min-width: 768px) {
    margin-bottom: 25px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 14px;
  }
}
