.fiveDays__mobile-city {
  font-size: 18px;
  font-family: 'Lato';
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  margin: 0px auto 10px;

  @media (min-width: 768px) {
    display: none;
  }
}
